In [1]:

import datetime

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
# plt.style.use('seaborn')
# plt.style.use(['dark_background', 'ggplot'])

import seaborn as sns
# sns.set()

# import scipy
# import scipy.stats as stats


# # sympy = symbolic math in Python
# import sympy as sym
# import sympy.plotting.plot as symplot


# make the equations look nicer

# from IPython.display import display
# display.set_matplotlib_formats('svg') # Deprecated since version 7.23

import matplotlib_inline
matplotlib_inline.backend_inline.set_matplotlib_formats('svg')

In [4]:

# import sklearn


# from sklearn.feature_extraction.text import CountVectorizer

# from sklearn.compose import ColumnTransformer
# from sklearn.pipeline import Pipeline
# from sklearn.impute import SimpleImputer
# from sklearn.preprocessing import OneHotEncoder

# # Modelling
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import train_test_split, GridSearchCV

In [5]:
import torch
import torch.nn as nn
import torch.nn.functional as F

from torch.utils.data import TensorDataset, DataLoader

from torch.nn.utils.rnn import pad_sequence




torch.__version__

'1.10.2'

In [6]:
import torchvision
import torchvision.transforms as T



torchvision.__version__

'0.11.3'

In [ ]:
# date = np.datetime64("2000-01-01")
# date_strings = date.astype(str).split('-'). 
# # >> ['2000', '01', '01']

# year_int = int(date_strings[0])

In [ ]:
'text.txt'

In [ ]:
[ 1-1-1800 to 31-12-2200 ]

In [ ]:
[day condition] [month condition] [leap year condition] [decade condition] date

In [ ]:
[MON] [DEC] [False] [196] 3-12-1962
[THU] [DEC] [True] [204] 3-12-2048
[WED] [JAN] [False] [181] 10-1-1810

In [214]:
# data = np.loadtxt(open('text.txt','r'),delimiter=' ')
ori = pd.read_csv('text.txt', sep=' ', header=None)

In [215]:
ori.columns = ['day', 'month', 'leap_year', 'decade', 'date']

In [216]:
ori

     day  month leap_year decade       date
0  [MON]  [DEC]   [False]  [196]  3-12-1962
1  [THU]  [DEC]    [True]  [204]  3-12-2048
2  [WED]  [JAN]   [False]  [181]  10-1-1810

In [217]:
# data.date = pd.to_datetime(data.date, format='%d-%m-%Y', infer_datetime_format=False)
# # pd.to_datetime(data.date, infer_datetime_format=False)

In [218]:
ori.dtypes

day          object
month        object
leap_year    object
decade       object
date         object
dtype: object

In [386]:
data = pd.DataFrame(columns=['day', 'month', 'leap_year', 'decade', 'date'], dtype=int)
# data = pd.DataFrame(columns=['date'])

data

Empty DataFrame
Columns: [day, month, leap_year, decade, date]
Index: []

In [387]:
data.dtypes

day          int32
month        int32
leap_year    int32
decade       int32
date         int32
dtype: object

In [388]:
# data['date'] = pd.date_range('3-12-2048', periods=10)
# data['date'] = pd.date_range('12-3-1962', periods=10)

# 1-1-1800 to 31-12-2200
data['date'] = pd.date_range(start='1-1-1800',end='12-31-2200')


# data.date = pd.to_datetime(data.date, format='%d-%m-%Y', infer_datetime_format=False)

# data.date = data.date.dt.strftime('%d-%m-%Y')
# data.date = pd.to_datetime(data.date.dt.strftime('%d-%m-%Y'), format='%d-%m-%Y', infer_datetime_format=False)

In [389]:
data

        day  month  leap_year  decade       date
0       NaN    NaN        NaN     NaN 1800-01-01
1       NaN    NaN        NaN     NaN 1800-01-02
2       NaN    NaN        NaN     NaN 1800-01-03
3       NaN    NaN        NaN     NaN 1800-01-04
4       NaN    NaN        NaN     NaN 1800-01-05
...     ...    ...        ...     ...        ...
146457  NaN    NaN        NaN     NaN 2200-12-27
146458  NaN    NaN        NaN     NaN 2200-12-28
146459  NaN    NaN        NaN     NaN 2200-12-29
146460  NaN    NaN        NaN     NaN 2200-12-30
146461  NaN    NaN        NaN     NaN 2200-12-31

[146462 rows x 5 columns]

In [390]:
data.date[0]

Timestamp('1800-01-01 00:00:00')

In [391]:
data.date[0].day_of_week

2

In [392]:
data.date[0].day_name()

'Wednesday'

In [393]:
data.date[0].month_name()

'January'

In [394]:
data.date[0].is_leap_year

False

In [395]:
# print(data.date_period[0].day)
# print(data.date_period[0].month)
print(data.date[0].year)

1800

In [396]:
data.date[0].year // 10

180

In [397]:
data.dtypes

day                 float64
month               float64
leap_year           float64
decade              float64
date         datetime64[ns]
dtype: object

In [398]:
data

        day  month  leap_year  decade       date
0       NaN    NaN        NaN     NaN 1800-01-01
1       NaN    NaN        NaN     NaN 1800-01-02
2       NaN    NaN        NaN     NaN 1800-01-03
3       NaN    NaN        NaN     NaN 1800-01-04
4       NaN    NaN        NaN     NaN 1800-01-05
...     ...    ...        ...     ...        ...
146457  NaN    NaN        NaN     NaN 2200-12-27
146458  NaN    NaN        NaN     NaN 2200-12-28
146459  NaN    NaN        NaN     NaN 2200-12-29
146460  NaN    NaN        NaN     NaN 2200-12-30
146461  NaN    NaN        NaN     NaN 2200-12-31

[146462 rows x 5 columns]

In [399]:
ori

     day  month leap_year decade       date
0  [MON]  [DEC]   [False]  [196]  3-12-1962
1  [THU]  [DEC]    [True]  [204]  3-12-2048
2  [WED]  [JAN]   [False]  [181]  10-1-1810

In [400]:
for i in range(len(data)):

    day_str = str(data.date.iloc[i].day_name()[:3].upper())
    data.day.loc[i] = str(f'[{day_str}]')
    
    month_str = str(data.date.iloc[i].month_name()[:3].upper())
    data.month.loc[i] = str(f'[{month_str}]')

    leap_str = str(data.date.iloc[i].is_leap_year)
    data.leap_year.loc[i] = str(f'[{leap_str}]')
    
    
    decade_str = str(data.date.iloc[i].year // 10)
    data.decade.loc[i] = str(f'[{decade_str}]')
    
    

data.date = data.date.dt.strftime('%d-%m-%Y')

C:\Users\Mohamed\AppData\Local\Temp\ipykernel_23424\3175675344.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.day.loc[i] = str(f'[{day_str}]')
C:\Users\Mohamed\AppData\Local\Temp\ipykernel_23424\3175675344.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.month.loc[i] = str(f'[{month_str}]')
C:\Users\Mohamed\AppData\Local\Temp\ipykernel_23424\3175675344.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.leap_year.loc[i] = str(f'[{leap_str}]')
C:\Users\Mohamed\AppData\Local\Temp\ipykernel_23424\3175675344.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.decade.loc[i] = str(f'[{decade_str}]')

In [ ]:
data.to_csv('test.txt', sep=' ', header=None, index=False)